@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

html {
  height: 100%;
}

body {
  background-color: hsl(0, 0%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-container {
  background-color: hsl(0, 0%, 100%);
  width: 343px;
  height: 450px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  border-style: none;
}

button:hover {
  background-color: hsl(0, 0%, 8%);
  cursor: pointer;
}

.button-icon {
  width: auto;
  height: 30px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-width: 100%;
}

form {
  display: inline-block;
  margin-top: 30px;
}

input,
label {
  display: block;
}

.input-container input {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  width: 70px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid hsl(0, 1%, 44%, 0.7);
  padding-left: 14px;
}

.input-label-container {
  display: inline-block;
}

.input-label-container:not(:first-child) {
  margin-left: 20px;
}

.input-label-container label {
  opacity: 70%;
  font-size: 10px;
  letter-spacing: 3px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.line {
  position: absolute;
  height: 1px;
  width: 48%;
  left: 0;
  right: 0;
  background-color: hsl(0, 1%, 44%, 0.7);
}

/* hr {
  width: 80%;
  margin-top: 52px;
} */
.submit-button {
  display: inline-block;
  position: relative;
  /* top: -40px; */
}

.display-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 30px;
}

.type {
  font-size: 50px;
  color: hsl(0, 0%, 8%);
  font-style: italic;
  font-weight: 800;
  margin: 0;
  height: 52px;
}

.type .numbers {
  color: hsl(259, 100%, 65%);
}

/* ### Primary

- Purple: hsl(259, 100%, 65%)
- Light red: hsl(0, 100%, 67%)

### Neutral

- White: hsl(0, 0%, 100%)
- Off white: hsl(0, 0%, 94%)
- Light grey: hsl(0, 0%, 86%)
- Smokey grey: hsl(0, 1%, 44%)
- Off black: hsl(0, 0%, 8%) */
